---
permalink: "{{ page.fileSlug }}"
---

console.log("Last Updated on १७ सप्तअम्बर २०२३")

{% include "./_0_var.js" %}
{% include "./_1_util.js" %}
{% include "./_2_init.js" %}
{% include "./_3_calc.js" %}
{% include "./_4_temporal-playground.js" %}
{% include "./_5_last.js" %}
